
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background: #262626;
   display: flex;
   justify-content: center;
   align-items: center;
}
.watch{
    max-width: 400px;
    margin: 200px auto;
    background: goldenrod;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 5px;
}
.watch h2{
   font-size: 30px;
   font-weight: 500;
   margin-bottom: 15px;
}
.watch h1{
   font-size: 35px;
   margin-bottom: 10px;
}
.button{
   display: flex;
   gap: 15px;
}
.btn{
   font-size: 20px;
   padding: 10px 14px;
   color: #fff;
   background: rgb(54, 54, 205);
   border-radius: 5px;
}
#lap{
  height: auto;
  padding: 10px;
  overflow: hidden;
}
#lap li{
  font-size: 20px;
  padding: 10px;
}
